html,
body {
    margin: 0;
    padding: 0;
    background-color: #161B40;
    max-height: 100vh;
}


.main-header {
    padding-bottom: 5px;
    background-color: #43BEE5;
}

.title {
    text-align: center;
    margin: 0;
    font-size: 8;
    font-family: "Comic Sans";
    font-weight: normal;
    color: white;
}

.pokemon-content {
    padding: 20px 0px;
    font-family: "comic sans";
    color: white;
    width: 100%;
    max-width:100vw;
    display: flex;
    justify-content: space-around; 
}


.pokemon-content p{
    font-size: 30px;
}

#pokemon-sprite{
    background-color: #161B40;
    /* width: 120px;
    height: 140px; */
    width: auto;
    height: auto;
    max-width: 150px;
    max-height: 150px;
}

#battle_message{
    padding-top: 15vh;
}

#npc_pokemon_sprite{
    background-color: #161B40;
    transform: scaleX(-1);
    width: auto;
    height: auto;
    max-width: 150px;
    max-height: 150px;
}

.pokemon-content h2 {
    margin-top: 0;
    font-size: 5vh;
    text-shadow: 
    -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black;
}

.battle-menu{
    justify-content: center;
    background-color: rgba(0, 0, 0, .3);
    padding: 10px;
}

.background_battle{
    display: grid;
    padding: 2rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    background-color: white;
    width: auto; 
}

.background_battle button {
    border: 3px solid black;
    margin: 2px 2px;
    position: relative;
}

.background_battle button:hover {
    cursor:pointer;

}

.background_battle button .amt {
    position: absolute;
    top: -14%;
    left: 0;
    background-color: black;
    color: white;
    padding: 0.5rem;
    border-radius: 50px;
}

.move_name{
    color: white;
    font-family: "Comic Sans";

}

.dmg{
    font-size: 20px;
    color: white;
    font-family: "Comic Sans";
}

#move_1{
    background-color: white; /*default value*/
}
#move_2{
    background-color: white; /*default value*/
}
#move_3{
    background-color: white; /*default value*/
}
#move_4{
    background-color: white; /*default value*/
}



/* button {
    text-align: center;
    background-color: #666;
    border: none;
    padding-left: 10px;
    padding-right: 10px;
    height: 40px;
    border-radius: 10px;
    color: white;
    font-size: 22px;
    cursor: pointer;
    margin: 5px;
}    */

main {
    display: flex;
    flex-direction: column;
    max-height: 100vh;
    max-width: 100vw;
}